* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-width: 100vw;
  display: grid;
  align-content: space-between;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  overflow-x: hidden;
  box-sizing: border-box;
}

.cartContainer {
  width: 70%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 250px;
}

@media screen and (max-width: 1022px) {
  .cartContainer {
    width: 85%;
  }
}

@media screen and (max-width: 810px) {
  .cartContainer {
    width: 90%;
  }
}

@media screen and (max-width: 552px) {
  .cartContainer {
    padding-top: 200px;
  }
}

@media screen and (max-width: 375px) {
  .cartContainer {
    width: 100%;
  }
}

.cartContainer h3 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 60px;
}

@media screen and (max-width: 552px) {
  .cartContainer h3 {
    margin-bottom: 20px;
  }
}

.cartContainer .cartBlock {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 50px;
}

@media screen and (max-width: 1160px) {
  .cartContainer .cartBlock {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 30px;
  }
}

.cartContainer .cartBlock .goods {
  width: 100%;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid #DCDCDC;
  box-sizing: border-box;
}

@media screen and (max-width: 552px) {
  .cartContainer .cartBlock .goods {
    position: relative;
    height: 250px;
  }
}

.cartContainer .cartBlock .goods img {
  width: 160px;
  margin-right: 53px;
}

@media screen and (max-width: 552px) {
  .cartContainer .cartBlock .goods img {
    position: absolute;
    top: 15px;
    left: 10px;
    margin: 0;
  }
}

.cartContainer .cartBlock .goods .infoGoods {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.cartContainer .cartBlock .goods .infoGoods .name {
  margin-top: 40px;
}

@media screen and (max-width: 552px) {
  .cartContainer .cartBlock .goods .infoGoods .name {
    width: 191px;
    margin-top: 0;
    position: absolute;
    top: 170px;
    left: 10px;
    line-height: 18px;
  }
}

.cartContainer .cartBlock .goods .infoGoods .coast {
  margin-top: auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 552px) {
  .cartContainer .cartBlock .goods .infoGoods .coast {
    margin-top: 0;
    position: absolute;
    top: 207px;
    left: 10px;
  }
}

.cartContainer .cartBlock .goods .countContainer {
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: flex-end;
}

@media screen and (max-width: 552px) {
  .cartContainer .cartBlock .goods .countContainer {
    height: 100%;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
  }
}

.cartContainer .cartBlock .goods .countContainer .icon {
  text-align: end;
}

.cartContainer .cartBlock .goods .countContainer .icon i {
  width: 21px;
  color: #AD2131;
  text-align: center;
}

.cartContainer .cartBlock .goods .countContainer .icon i:hover {
  background-color: #AD2131;
  color: #ffffff;
}

.cartContainer .cartBlock .goods .countContainer .countBlock {
  width: 120px;
  height: 70px;
  display: flex;
  align-items: center;
  margin-top: 76px;
}

.cartContainer .cartBlock .goods .countContainer .countBlock button {
  width: 40px;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  border: none;
  background-color: #ECECEC;
  padding: 0;
}

.cartContainer .cartBlock .goods .countContainer .countBlock button:hover {
  background-color: #DCDCDC;
}

.cartContainer .cartBlock .goods .countContainer .countBlock .count {
  width: 40px;
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #ECECEC;
}

.cartContainer .cartBlock .goods .countContainer .countBlock .count p {
  width: 100%;
}

.cartContainer .cartBlock .checkContainer {
  width: 380px;
  height: 450px;
  color: #333333;
  background-color: #ECECEC;
}

@media screen and (max-width: 1212px) {
  .cartContainer .cartBlock .checkContainer {
    width: 340px;
  }
}

@media screen and (max-width: 340px) {
  .cartContainer .cartBlock .checkContainer {
    width: 320px;
  }
}

.cartContainer .cartBlock .checkContainer .checkContent {
  margin: 42px 24px 42px 32px;
}

.cartContainer .cartBlock .checkContainer .checkContent h5 {
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 24px;
}

.cartContainer .cartBlock .checkContainer .checkContent .borderCheck {
  border-bottom: 1px solid #A6A6A6;
  box-sizing: border-box;
}

.cartContainer .cartBlock .checkContainer .checkContent .borderCheck .flexBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.cartContainer .cartBlock .checkContainer .checkContent .borderCheck .flexBlock .checkCoast {
  font-weight: 500;
}

.cartContainer .cartBlock .checkContainer .checkContent .borderCheck .flexBlock .checkDiscount {
  font-weight: 500;
  color: #AD2131;
}

.cartContainer .cartBlock .checkContainer .checkContent .borderCheck .flexBlock:nth-child(2) {
  margin-bottom: 20px;
}

.cartContainer .cartBlock .checkContainer .checkContent .newSum {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 18px;
  margin-top: 32px;
}

.cartContainer .cartBlock .checkContainer .checkContent .newSum h5,
.cartContainer .cartBlock .checkContainer .checkContent .newSum p {
  margin: 0;
}

.cartContainer .cartBlock .checkContainer .checkContent .buy {
  width: 100%;
  height: 70px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  background-color: #AD2131;
  color: #ffffff;
  border: none;
  outline: none;
  margin-top: 60px;
}

.cartContainer .cartBlock .checkContainer .checkContent .buy:hover {
  background-color: #2f9e01;
}
/*# sourceMappingURL=cart.module.css.map */