* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-width: 100vw;
  display: grid;
  align-content: space-between;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: calc(100vh - 187px - 472px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  overflow-x: hidden;
  box-sizing: border-box;
}

.orderSection {
  width: 70%;
  margin: 250px auto 100px auto;
}

@media screen and (max-width: 1022px) {
  .orderSection {
    width: 85%;
  }
}

@media screen and (max-width: 810px) {
  .orderSection {
    width: 90%;
  }
}

@media screen and (max-width: 446px) {
  .orderSection {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 390px) {
  .orderSection {
    width: calc(100% - 5px);
  }
}

.orderSection h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 40px;
}

@media screen and (max-width: 390px) {
  .orderSection h3 {
    font-size: 38px;
    line-height: 47px;
  }
}

.orderSection .contentOrder {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 860px) {
  .orderSection .contentOrder {
    flex-direction: column;
  }
}

.orderSection .contentOrder .orderContainer {
  width: 60%;
}

@media screen and (max-width: 1404px) {
  .orderSection .contentOrder .orderContainer {
    width: 55%;
  }
}

@media screen and (max-width: 810px) {
  .orderSection .contentOrder .orderContainer {
    width: 50%;
  }
}

@media screen and (max-width: 860px) {
  .orderSection .contentOrder .orderContainer {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 556px) {
  .orderSection .contentOrder .orderContainer {
    width: 100%;
  }
}

.orderSection .contentOrder .orderContainer h5 {
  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 24px;
  word-wrap: break-word;
}

@media screen and (max-width: 360px) {
  .orderSection .contentOrder .orderContainer h5 {
    width: 320px;
  }
}

.orderSection .contentOrder .orderContainer .typeBuyer {
  border-bottom: 1px solid #A6A6A6;
  box-sizing: border-box;
  padding-bottom: 32px;
}

.orderSection .contentOrder .orderContainer .infoBuyer {
  margin-top: 56px;
  border-bottom: 1px solid #A6A6A6;
  padding-bottom: 32px;
}

.orderSection .contentOrder .orderContainer .infoBuyer .infoForm {
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
  position: relative;
}

.orderSection .contentOrder .orderContainer .infoBuyer .infoForm .infoInput {
  width: 600px;
  height: 70px;
  font-size: 16px;
  line-height: 20px;
  padding: 26px 24px;
  border: 1px solid #A6A6A6;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 24px;
}

@media screen and (max-width: 1404px) {
  .orderSection .contentOrder .orderContainer .infoBuyer .infoForm .infoInput {
    width: 500px;
  }
}

@media screen and (max-width: 1256px) {
  .orderSection .contentOrder .orderContainer .infoBuyer .infoForm .infoInput {
    width: 450px;
  }
}

@media screen and (max-width: 1176px) {
  .orderSection .contentOrder .orderContainer .infoBuyer .infoForm .infoInput {
    width: 400px;
  }
}

@media screen and (max-width: 422px) {
  .orderSection .contentOrder .orderContainer .infoBuyer .infoForm .infoInput {
    width: 310px;
  }
}

.orderSection .contentOrder .orderContainer .infoBuyer .infoForm .errors1,
.orderSection .contentOrder .orderContainer .infoBuyer .infoForm .errors2,
.orderSection .contentOrder .orderContainer .infoBuyer .infoForm .errors3,
.orderSection .contentOrder .orderContainer .infoBuyer .infoForm .errors4 {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: red;
  position: absolute;
  top: 68px;
}

.orderSection .contentOrder .orderContainer .infoBuyer .infoForm .errors2 {
  top: 160px;
}

.orderSection .contentOrder .orderContainer .infoBuyer .infoForm .errors3 {
  top: 253px;
}

.orderSection .contentOrder .orderContainer .infoBuyer .infoForm .errors4 {
  top: 348px;
}

.orderSection .contentOrder .orderContainer .deliveryBlock {
  margin-top: 56px;
  border-bottom: 1px solid #A6A6A6;
  box-sizing: border-box;
}

.orderSection .contentOrder .orderContainer .deliveryBlock .delivery,
.orderSection .contentOrder .orderContainer .deliveryBlock .deliveryActive {
  width: 600px;
  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DCDCDC;
}

@media screen and (max-width: 1404px) {
  .orderSection .contentOrder .orderContainer .deliveryBlock .delivery,
  .orderSection .contentOrder .orderContainer .deliveryBlock .deliveryActive {
    width: 500px;
  }
}

@media screen and (max-width: 1256px) {
  .orderSection .contentOrder .orderContainer .deliveryBlock .delivery,
  .orderSection .contentOrder .orderContainer .deliveryBlock .deliveryActive {
    width: 450px;
  }
}

@media screen and (max-width: 1176px) {
  .orderSection .contentOrder .orderContainer .deliveryBlock .delivery,
  .orderSection .contentOrder .orderContainer .deliveryBlock .deliveryActive {
    width: 400px;
  }
}

@media screen and (max-width: 422px) {
  .orderSection .contentOrder .orderContainer .deliveryBlock .delivery,
  .orderSection .contentOrder .orderContainer .deliveryBlock .deliveryActive {
    width: 310px;
  }
}

.orderSection .contentOrder .orderContainer .deliveryBlock .delivery:last-child,
.orderSection .contentOrder .orderContainer .deliveryBlock .deliveryActive:last-child {
  margin-top: 20px;
  margin-bottom: 32px;
}

.orderSection .contentOrder .orderContainer .deliveryBlock .delivery .textDelivery,
.orderSection .contentOrder .orderContainer .deliveryBlock .deliveryActive .textDelivery {
  margin-left: 24px;
}

.orderSection .contentOrder .orderContainer .deliveryBlock .delivery .textDelivery p:first-child,
.orderSection .contentOrder .orderContainer .deliveryBlock .deliveryActive .textDelivery p:first-child {
  margin-bottom: 12px;
}

.orderSection .contentOrder .orderContainer .deliveryBlock .delivery .textDelivery p:last-child,
.orderSection .contentOrder .orderContainer .deliveryBlock .deliveryActive .textDelivery p:last-child {
  font-size: 14px;
  line-height: 17px;
  color: #666565;
}

.orderSection .contentOrder .orderContainer .deliveryBlock .delivery .coastDelivery,
.orderSection .contentOrder .orderContainer .deliveryBlock .deliveryActive .coastDelivery {
  font-weight: bold;
  font-size: 16px;
  margin-right: 24px;
}

.orderSection .contentOrder .orderContainer .deliveryBlock .deliveryActive {
  background-color: #ffffff;
  border: 1px solid #AD2131;
  box-sizing: border-box;
}

.orderSection .contentOrder .orderContainer .moreInfoBlock {
  margin-top: 56px;
}

.orderSection .contentOrder .orderContainer .moreInfoBlock .moreInfo {
  width: 600px;
  height: 70px;
  font-size: 16px;
  line-height: 20px;
  padding: 26px 24px;
  border: 1px solid #A6A6A6;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 24px;
}

@media screen and (max-width: 1404px) {
  .orderSection .contentOrder .orderContainer .moreInfoBlock .moreInfo {
    width: 500px;
  }
}

@media screen and (max-width: 1256px) {
  .orderSection .contentOrder .orderContainer .moreInfoBlock .moreInfo {
    width: 450px;
  }
}

@media screen and (max-width: 1176px) {
  .orderSection .contentOrder .orderContainer .moreInfoBlock .moreInfo {
    width: 400px;
  }
}

@media screen and (max-width: 422px) {
  .orderSection .contentOrder .orderContainer .moreInfoBlock .moreInfo {
    width: 310px;
  }
}

.orderSection .contentOrder .orderContainer .textFieldForm .textField {
  width: 600px;
  height: 70px;
  font-size: 16px;
  line-height: 20px;
  padding: 26px 24px;
  border: 1px solid #A6A6A6;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 24px;
}

@media screen and (max-width: 1404px) {
  .orderSection .contentOrder .orderContainer .textFieldForm .textField {
    width: 500px;
  }
}

@media screen and (max-width: 1256px) {
  .orderSection .contentOrder .orderContainer .textFieldForm .textField {
    width: 450px;
  }
}

@media screen and (max-width: 1176px) {
  .orderSection .contentOrder .orderContainer .textFieldForm .textField {
    width: 400px;
  }
}

@media screen and (max-width: 422px) {
  .orderSection .contentOrder .orderContainer .textFieldForm .textField {
    width: 310px;
  }
}

.orderSection .contentOrder .checkContainer {
  width: 380px;
  height: 517px;
  color: #333333;
  background-color: #ECECEC;
}

@media screen and (max-width: 860px) {
  .orderSection .contentOrder .checkContainer {
    margin: 0 auto;
  }
}

@media screen and (max-width: 390px) {
  .orderSection .contentOrder .checkContainer {
    width: 310px;
    margin: 0;
  }
}

.orderSection .contentOrder .checkContainer .checkContent {
  margin: 42px 24px 42px 32px;
}

@media screen and (max-width: 390px) {
  .orderSection .contentOrder .checkContainer .checkContent {
    margin-top: 25px;
  }
}

.orderSection .contentOrder .checkContainer .checkContent h5 {
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 24px;
}

.orderSection .contentOrder .checkContainer .checkContent .borderCheck {
  border-bottom: 1px solid #A6A6A6;
  box-sizing: border-box;
}

.orderSection .contentOrder .checkContainer .checkContent .borderCheck .flexBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.orderSection .contentOrder .checkContainer .checkContent .borderCheck .flexBlock .checkCoast {
  font-weight: 500;
}

.orderSection .contentOrder .checkContainer .checkContent .borderCheck .flexBlock .checkDiscount {
  font-weight: 500;
  color: #AD2131;
}

.orderSection .contentOrder .checkContainer .checkContent .borderCheck .flexBlock:nth-child(2) {
  margin-bottom: 20px;
}

.orderSection .contentOrder .checkContainer .checkContent .borderCheck .flexBlock:last-child {
  margin-bottom: 20px;
}

.orderSection .contentOrder .checkContainer .checkContent .deliveryBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.orderSection .contentOrder .checkContainer .checkContent .newSum {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 18px;
  margin-top: 22px;
}

.orderSection .contentOrder .checkContainer .checkContent .newSum h5,
.orderSection .contentOrder .checkContainer .checkContent .newSum p {
  margin: 0;
}

.orderSection .contentOrder .checkContainer .checkContent .buy {
  width: 100%;
  height: 70px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  background-color: #AD2131;
  color: #ffffff;
  border: none;
  outline: none;
  margin-top: 20px;
}

.orderSection .contentOrder .checkContainer .checkContent .buy:hover {
  background-color: #2f9e01;
}

.orderSection .contentOrder .checkContainer .checkContent .action {
  font-size: 16px;
  line-height: 145%;
  color: #666565;
}
/*# sourceMappingURL=order.module.css.map */