@import './../../../App.sass'

.cartContainer
    width: 70%
    max-width: 1280px
    margin: 0 auto
    padding-top: 250px
    h3  
        font-size: 48px
        font-weight: bold
        text-transform: uppercase
        margin-bottom: 60px
    .cartBlock
        width: 100%
        display: grid
        grid-template-columns: 2fr 1fr
        grid-column-gap: 50px
        .goods
            width: 100%
            height: 210px
            display: flex
            align-items: center
            justify-content: start
            border-bottom: 1px solid $gray-light
            box-sizing: border-box
            img
                width: 160px
                margin-right: 53px
            .infoGoods
                height: 100%
                display: flex
                flex-direction: column
                align-content: space-between
                .name
                    margin-top: 40px
                .coast
                    margin-top: auto
                    margin-bottom: 40px
            .countContainer
                margin-left: auto
                padding: 0
                display: flex
                flex-direction: column
                align-content: space-around
                justify-content: flex-end
                .icon
                    text-align: end
                    i
                        width: 21px
                        color: $red
                        text-align: center
                    i:hover
                        background-color: $red
                        color: $white
                .countBlock
                    width: 120px
                    height: 70px
                    display: flex
                    align-items: center
                    margin-top: 76px
                    button
                        width: 40px
                        height: 100%
                        font-size: 18px
                        font-weight: 400
                        border: none
                        background-color: $gray-ultra-light
                        padding: 0
                    button:hover
                        background-color: $gray-light
                    .count
                        width: 40px
                        height: 70px
                        text-align: center 
                        display: flex
                        align-items: center                      
                        background-color: $gray-ultra-light
                        p
                            width: 100%
        .checkContainer
            width: 380px
            height: 450px
            color: $grafit
            background-color: $gray-ultra-light
            .checkContent
                margin: 42px 24px 42px 32px
                h5
                    font-weight: 800
                    font-size: 22px 
                    margin-bottom: 24px    
                .borderCheck 
                    border-bottom: 1px solid $med
                    box-sizing: border-box
                    .flexBlock
                        display: flex
                        justify-content: space-between
                        align-items: center
                        margin-top: 20px
                        .checkCoast
                            font-weight: 500
                        .checkDiscount
                            font-weight: 500
                            color: $red 
                        &:nth-child(2)
                            margin-bottom: 20px              
                .newSum
                    display: flex
                    justify-content: space-between
                    font-weight: 800
                    font-size: 18px
                    margin-top: 32px
                    h5,
                    p
                        margin: 0
                .buy
                    width: 100%
                    height: 70px
                    font-family: Montserrat
                    font-size: 16px
                    line-height: 20px
                    background-color: $red
                    color: $white
                    border: none
                    outline: none
                    margin-top: 60px
                    &:hover
                        background-color: #2f9e01


