@import './../../../App.sass'

.contactHeaderContainer
    display: flex
    justify-content: space-between
    color: $white
    font-weight: 500
    font-size: 16px
    .sityBlock
        display: flex
        p:first-child
            margin-right: 70px
    .numberBlock
        display: flex
        p
            margin-right: 70px
        a
            color: white
            text-decoration: none
            margin: auto 0