@import './../../../App.sass'

.politicsContainer
    width: 70%
    max-width: 1280px
    margin: 250px auto 100px auto
    @media screen and ( max-width: 900px)
        width: 85%
        margin-top: 150px
        margin-bottom: 50px
    h3
        font-weight: bold
        font-size: calc(24px + 24*(100vw - 320px) / 1280)
        line-height: 120%
        margin-bottom: 56px
        @media screen and ( max-width: 900px)
            margin-bottom: 30px
        @media screen and ( max-width: 767px)
            font-size: calc(24px + (24 + 24*0.7)*((100vw - 320px) / 1280))
    .politicsContent
        width: 70%
        margin: 0 auto
        @media screen and ( max-width: 900px)
            width: 90%
        .nameCompany
            font-weight: 600
        h5
            font-weight: bold
            font-size: 32px
            font-size: calc(20px + 12*(100vw - 320px) / 1280)
            line-height: 39px
            margin-bottom: 30px
            text-transform: uppercase
            @media screen and ( max-width: 767px)
                font-size: calc(20px + (12 + 12*0.7)*((100vw - 320px) / 1280))
        p
            margin-bottom: 60px
        ul
            width: 100%
            li
                width: 90%
                margin: 0 auto 24px auto  
            li::marker
                color: $red