$white: #ffffff
$gray: #666565
$gray-light: #DCDCDC
$gray-ultra-light: #ECECEC
$grafit: #333333
$med: #A6A6A6
$red: #AD2131

body
  width: 100%
  font-family: Montserrat
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 30px
  color: #333333
  background-color: grey
